<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<th:block th:replace="~{layout::setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="mt-4 p-5">
        <h1>member join page</h1>
            <form action="/member/register" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="E-mail...">
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Password:</label>
                    <input type="password" class="form-control" name="pwd" id="pwd" placeholder="PW...">
                </div>
                <div class="mb-3">
                    <label for="nickName" class="form-label">Nick_Name:</label>
                    <input type="text" class="form-control" name="nickName" id="nickName" placeholder="nickName..">
                </div>
                <button type="submit" class="btn btn-primary">join</button>
            </form>
        </div>
            </form>
        </div>
    </th:block>

</th:block>